# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
temperatura_anos = pd.Series(anomalia_termica, index=anos)

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:

# seu código aqui
temperatura_anos

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas = pd.Series(dic_temperaturas)
serie_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [22]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
dt

             0           1           2
0   104.762357  108.093955  119.570299
1    98.559170   90.253318  100.647156
2    90.693219  114.309054  120.206362
3   114.285308  109.842930   95.630119
4    99.873378  100.938953   89.264569
5    90.432764  107.192039   92.039225
6    95.190208   96.497291   94.648565
7    90.686937  103.902519  104.439305
8    90.103809  105.591314   94.000850
9    94.078195  106.492282  108.597408
10   89.525080   88.796033  103.420682
11  102.506092  111.549635  117.952253
12   96.296165   92.754745   90.647002
13  105.720196  116.875959   98.110067
14  103.387883   90.021891   92.640247
15   96.966873  109.436978   97.693785
16   96.411699  106.062060  102.733637
17  102.013864   94.388484  102.950503
18   90.083057   85.988339   94.164367
19  105.944771   75.183393   95.886753

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [23]:
#seu código aqui
df = pd.DataFrame(arr, columns=['x1','x2','x3'])
df.index += 1
df

            x1          x2          x3
1    98.472221  112.034166   98.739652
2    89.465173  119.737821   91.044020
3    99.005577   98.497023   96.904230
4   115.836019   86.264544  100.965255
5   106.883103  107.812940  117.444638
6    99.593608   97.821256   87.759099
7   115.024679   82.651266   87.291914
8    91.415700  102.831356  107.021235
9   106.998650   97.427753  101.290224
10   84.946401  103.893348  115.278867
11   83.656491  107.504946  110.265886
12  106.908520   90.145942   93.389391
13  105.930733  112.703747  114.364250
14  112.976902  102.974327  113.926512
15   92.816587  103.451715  115.896459
16  101.562728  103.403844  110.982763
17   78.247413  114.549752  109.875326
18   99.442128  106.198055   95.304847
19  108.438531   91.125001  105.355579
20   96.730354  112.968184   82.175385

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [40]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       media
1    98.472221  112.034166   98.739652  103.082013
2    89.465173  119.737821   91.044020  100.082338
3    99.005577   98.497023   96.904230   98.135610
4   115.836019   86.264544  100.965255  101.021939
5   106.883103  107.812940  117.444638  110.713560
6    99.593608   97.821256   87.759099   95.057987
7   115.024679   82.651266   87.291914   94.989286
8    91.415700  102.831356  107.021235  100.422763
9   106.998650   97.427753  101.290224  101.905542
10   84.946401  103.893348  115.278867  101.372872
11   83.656491  107.504946  110.265886  100.475774
12  106.908520   90.145942   93.389391   96.814618
13  105.930733  112.703747  114.364250  110.999577
14  112.976902  102.974327  113.926512  109.959247
15   92.816587  103.451715  115.896459  104.054921
16  101.562728  103.403844  110.982763  105.316445
17   78.247413  114.549752  109.875326  100.890830
18   99.442128  106.198055   95.304847  100.315010
19  108.438531   91.125001  105.355579  101.639704
20   96.730354  112.968184   82.175385   97.291308

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [41]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1    98.472221  112.034166   98.739652  103.082013  4.635525
2    89.465173  119.737821   91.044020  100.082338  4.605993
3    99.005577   98.497023   96.904230   98.135610  4.586350
4   115.836019   86.264544  100.965255  101.021939  4.615338
5   106.883103  107.812940  117.444638  110.713560  4.706946
6    99.593608   97.821256   87.759099   95.057987  4.554487
7   115.024679   82.651266   87.291914   94.989286  4.553764
8    91.415700  102.831356  107.021235  100.422763  4.609389
9   106.998650   97.427753  101.290224  101.905542  4.624046
10   84.946401  103.893348  115.278867  101.372872  4.618806
11   83.656491  107.504946  110.265886  100.475774  4.609917
12  106.908520   90.145942   93.389391   96.814618  4.572798
13  105.930733  112.703747  114.364250  110.999577  4.709526
14  112.976902  102.974327  113.926512  109.959247  4.700110
15   92.816587  103.451715  115.896459  104.054921  4.644919
16  101.562728  103.403844  110.982763  105.316445  4.656970
17   78.247413  114.549752  109.875326  100.890830  4.614039
18   99.442128  106.198055   95.304847  100.315010  4.608315
19  108.438531   91.125001  105.355579  101.639704  4.621434
20   96.730354  112.968184   82.175385   97.291308  4.577710